 .styled-table {
    justify-content: center;
    width: 500px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #f3f3f3;
}
.styled-table th
 {
    padding: 12px 15px;
        color: blueviolet;
}

.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid white;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #202020;
}
input[type="submit"]{
  background: #002680;
  border: none;
  padding: 10px;
  width: 20%;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}
input[type="submit"]:hover{
  background: #0f3fb3;
  border: none;
  padding: 12px;
  width: 21%;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}
button{
    color:white;
    width:80px;
    height:30px;
    background-color:red;
    border:none;
}
button:hover{
    color:white;
    width:80px;
    height:30px;
    background-color:#f92b2b;
    border:none;
}
a{
    color: #949fa9;
}
h2{
    color: blueviolet;
 }