 .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table th
 {
    padding: 12px 15px;
        color: blueviolet;
}

.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #002680;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #202020;
}
button{
    color:white;
    width:80px;
    height:30px;
    background-color:red;
    border:none;
}
button:hover{
    color:white;
    width:80px;
    height:30px;
    background-color:#f92b2b;
    border:none;
}
   .error {
  width: 40%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: center;
}
.success {
        width: 40%;
    margin: 0px auto;
    padding: 10px;
    color: #4c47e0;
    background: #dff0d8;
    border: 1px solid #7370d8;
    border-radius: 5px;
    text-align: center;
}
h2{
    color: blueviolet;
 }